.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.circle.active {
  background-color: #1e3a8a;
}

.line {
  width: 40px;
  height: 2px;
  background-color: #ccc;
}

.step-label {
  font-size: 0.8rem;
  margin-top: 5px;
}
