.form-label {
  margin-bottom: 0 !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: #222;
  padding: 20px;
  border-radius: 12px;
}

.grid-container {
  display: inline-grid;
  gap: 10px;
}

.cell {
  width: 80px;
  aspect-ratio: 1/1;
  background: #0d6efd;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.cell:hover {
  background: #374151;
}
