.custom-offcanvas {
  --bs-offcanvas-width: 600px;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
  background: transparent;
}

.img-preview {
  max-width: 100%;
  max-height: 200px;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 8px;
}
