/* You can add global styles to this file, and also import other style files */

.custom-tooltip-class {
  background-color: #444 !important;
  color: white;
  white-space: pre-line !important;
  padding: 8px 12px;
  border-radius: 4px;
}

.btn-primary {
  background-color: #1e3a8a !important;
  border-color: #1e3a8a !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #1d4ed8 !important;
  border-color: #1d4ed8 !important;
}
