.menu-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--bs-body-color);
  transition: background-color 0.2s, color 0.2s;

  & i {
    font-size: 1.4rem;
  }

  &:hover {
    background-color: grey;
  }
}
